In [1]:
from pandas import Series, DataFrame
import pandas as pd

## Series
### 构造实例

In [4]:
obj = Series([4, -1, 2, 9, 0])
obj

0    4
1   -1
2    2
3    9
4    0
dtype: int64

In [14]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

### 获取值或索引（以数组形式）

In [15]:
obj.values

array([ 4, -1,  2,  9,  0])

In [17]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

### 通过索引方式选取单个或一组值

In [18]:
obj2['a']

-5

In [19]:
obj2['d']=6

In [20]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

### 数组运算
* 根据布尔型数据进行过滤，标量乘法、应用数学函数等
* 会保留索引和值之间的链接

In [21]:
obj2[obj2>2]

d    6
b    7
c    3
dtype: int64

In [22]:
obj2*2

d    12
b    14
a   -10
c     6
dtype: int64

### 可以看成字典
* 可以将Series看成是一个**定长**的**有序**字典
* 它可以用在许多原本需要字典参数的函数中
* 如果数据存放在一个字典中，也可以直接通过这个字典来创建Series

In [24]:
sdata = {'Ohio':35000, 'Texas': 71000, 'Oregon':16000, 'Utah': 5000}
obj3=Series(sdata)

In [25]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64